<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.azurecity.authentication.mapper.AuthMapper">

    <select id="getAllByPage" resultType="list">
        SELECT sua.`id`, sua.realname, sua.phone,sua.id_card_front,sua.id_card_back, sua.update_time, su.auth
        FROM sys_user_auth sua INNER JOIN sys_user su
        ON sua.id = su.id
        ORDER BY sua.update_time DESC
    </select>

</mapper>